<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div style="width: 80%;margin: 0 auto;">
    <h3>${new Date().toDateString()}</h3>
    <h5>爬取基金(近一周涨跌)</h5>
    <p>${fundName}: ${Trend}</p>
    <h5>自选基金(今日涨跌)</h5>
    <p>${fundName}: ${Trend}</p>
    <a href="http://localhost:8080/#/" style="text-decoration: none;">查看详情</a>
  </div>
</body>
</html>